* {
    margin: 0;
    padding: 0;
  }
  nav {
    display: flex;
    height: 55px;
    background-color: slateblue;
  }
  .icon {
    color: white;
    margin: 10px;
    margin-top: 15px;
  }
  nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    margin-top: 17px;
    margin-left: 50px;
  }
  nav a:hover{
      text-decoration: underline;
      color: white;
      margin: 10px;
      margin-top: 17px;
      margin-left: 50px;
    }
    body{
        background-color: rgb(178, 166, 255);
    }
    main{
        height: 657px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
        background-color: slateblue;
        height: 500px;
        width: 450px;
        border-radius: 5%;
        border: 2px solid rgb(34, 0, 255);
        box-shadow: 5px 5px 0 0;
        text-align: center;
    }
    form{
        margin: 15px;
    }
    h1{
        margin-bottom: 20px;
    }
    p{
        text-decoration: dotted;
        margin-top: 5px;
    }
    input{
        margin-bottom: 25px;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 5px;
    }
    .button1{
        margin: 50px;
        padding: 5px;
        background-color: slateblue;
        color: white;
        box-shadow: none;
    }
    footer{
        color: white;
        background-color: slateblue;
        text-align: center;
    
    }
    footer a{
        text-decoration: none;
        color: white;
    }
    footer a:hover{
        text-decoration: underline;
        color: white;
    
    }